.header { 
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    margin: 0px;
    color: black;
}

.head {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-right: 100px;
    margin-left: 100px;
}

.navlinks {
    margin-top: 20px;
}

.nav1 {
    margin-right: 40px;
}

.how-to-button {
    height: 80px;
    width: 200px;
    margin-top: 20px;
    font-family: 'Bebas Neue', cursive;
    background-color: white;
    font-size: 30px;
    border: 3px solid black;
}

.how-to-button:hover {
    color: red;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    font-family: 'Bebas Neue', cursive;
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 40%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0, 0.2), 0 7px 20px 0 rgba(0,0,0, 0.2);
    text-align: center;
    border-radius: 20px;
}

.modalHeader {
    font-size: 40px;
    margin: 10px 0px;
}

.modal-content p {
    font-size: 20px;
}

.logoName {
    height: 30px;
    width: 30px;
}

.logo-word {
    color: red;
}

.bubble {
    color: #33ccff;
}
.logoMain {
    height: 80px;
    width: 80px;
}

.close-button {
    color: black;
    float: right;
    font-size: 60px;
}

.close-button:hover, close-button:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.other-word {
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    color: red;
}

.credit {
    text-align: center;
    margin-left: 200px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

#gameScreen{
    position: absolute;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid black;
    background-image: './grid.jpg';
    cursor: none;
}

.visible {
    position: absolute;
    margin-left: 100px;
    /* margin-top: 200px; */
    background-color: white;
    /* opacity: 25%; */
    width: 1704px;
    height: 704px;
    border: 5px solid black;
}

.welcomeText {
    display: block;
    font-size: 40px;
    padding-top: 190px;
    opacity: 1;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    z-index: 99;
}

#score{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-left: 1200px;
    text-align: center;
}

.score-timer {
    display: flex;
}

#timer {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-left: 100px;
}


#crosshair {
    display: block;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    left: 950px;
    top: 500px;
}

.footer-notes {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    font-family: 'Bebas Neue', cursive;
    margin-top: 670px;
    height: 40px;
    width: 1700px;
    margin-left: 100px;
    margin-right: 100px;
}

.restartButton {
    font-family: 'Bebas Neue', cursive;
    background-color: white;
    font-size: 30px;
    padding: 10px 55px;
    border: 3px solid black;
}

.restartButton:hover {
    color: red;
    cursor: pointer;
}

.highScore {
    font-size: 30px;
    color: red;
}